**/result

# cache directories
**/.mypy_cache
**/.direnv
**/.cache
**/.nextflow.**
**/.vscode
**/.nextflow
**/work
**/.pytest_cache
**/.idea
**/__pycache__/

# build directories
**/target
**/result

# system debris
**/.DS_Store
**/.directory
**/.Trash*
**/desktop.ini

probe_log
.dmypy.json
