
# cache directories
**/.mypy_cache
**/.direnv
**/.cache
**/.nextflow.**
**/.vscode
**/.nextflow
**/work
**/.pytest_cache

# build directories
**/target
**/result

# system debris
**/.DS_Store
**/.directory
**/.Trash*
**/desktop.ini

probe_log
dataflow_graph.pkl
