.reveal h1 {
    text-transform:none !important;
}
.reveal h2 {
    text-transform:none !important;
}
.reveal h3 {
    text-transform:none !important;
}
.reveal h4 {
    text-transform:none !important;
}
