/*************************************************
*                                                *
* CSS for the TOC-Progress plugin for Reveal.js  *
*                                                *
* Author: Igor Leturia                           *
*                                                *
* License: GPL v3                                *
* http://www.gnu.org/copyleft/gpl.html           *
*                                                *
*************************************************/

/* Style for the TOC-Progress footer */

#toc-progress-footer
{
	position: fixed;
	bottom: 3px;
	height: 4vh;
	z-index: 20;
	width: 100%;
	font-size: 2vh;
	text-align: center;
	white-space: nowrap;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
}

#toc-progress-footer
{
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 800ms ease-in-out;
}

/* Bottom position for the TOC-Progress footer when progress bar is visible */

div.progress[style="display: block;"] ~ #toc-progress-footer
{
	bottom: 3px;
}

/* Bottom position for the TOC-Progress footer when progress bar is not visible */

#toc-progress-footer
{
	bottom: 0px;
}

/* Make TOC-Progress invisible if explicitly indicated */

.no-toc-progress #toc-progress-footer
{
	visibility: hidden;
	opacity: 0;
	transition: visibility 800ms, opacity 800ms ease-in-out;
}

/* Make TOC-Progress invisible in overview mode */

.overview #toc-progress-footer
{
	visibility: hidden;
	opacity: 0;
	transition: visibility 800ms, opacity 800ms ease-in-out;
}

/* Position and styles for the left part (main sections) of the TOC-Progress */

#toc-progress-footer-main
{
	overflow: hidden;
	letter-spacing: 0em;
}

#toc-progress-footer-main li {
  display: inline;
  margin-left: 2vw;
}
