name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    strategy:
      matrix:
        os:
          - ubuntu-20.04
          #- ubuntu-22.04
          # We can test on a Matrix of Ubuntu versions
          # But Nix does get us pretty good reproducibility
          # So we will test just one in CI.
          # More full tests can be run by docker_os_matrix.py

    runs-on: ${{ matrix.os  }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Nix
      uses: cachix/install-nix-action@v27
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes

    - name: Test existence of secrets
      run: |
        echo -e 'CACHIX_AUTH_TOKEN length: '
        echo ${{ secrets.CACHIX_AUTH_TOKEN }} | wc -c

    - uses: cachix/cachix-action@v15
      with:
        name: charmonium
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

    - run: nix flake check --all-systems --print-build-logs

    - run: nix flake check ./benchmark --all-systems --print-build-logs

    - run: nix build --print-build-logs .#probe-bundled

    # The devshell uses slightly different build process than the Nix pkg
    # Might as well test that too
    - run: nix develop --command just compile fix check test-native
